:root {
  --simtip-default-animation-duration: 300ms;
  --simtip-default-border-color: #000;
  --simtip-default-border-width: 0;
  --simtip-default-border-style: solid;
  --simtip-default-box-shadow: none;
  --simtip-default-background-color: rgb(97 97 97 / 92%);
  --simtip-default-border-radius: 4px;
  --simtip-default-font-size: 11px;
  --simtip-default-max-width: 300px;
  --simtip-default-padding: 6px;
  --simtip-default-text-color: #fff;
}

.tooltip_wrapper {
  background-color: var(
    --simtip-background-color,
    var(--simtip-default-background-color)
  );
  border: var(--simtip-border-width, var(--simtip-default-border-width))
    var(--simtip-border-style, var(--simtip-default-border-style))
    var(--simtip-border-color, var(--simtip-default-border-color));
  border-radius: var(
    --simtip-border-radius,
    var(--simtip-default-border-radius)
  );
  box-shadow: var(--simtip-box-shadow, var(--simtip-default-box-shadow));

  color: var(--simtip-text-color, var(--simtip-default-text-color));
  display: inline-block;
  font-family: inherit;
  font-size: var(--simtip-font-size, var(--simtip-default-font-size));
  max-width: var(--simtip-max-width, var(--simtip-default-max-width));
  padding: var(--simtip-padding, var(--simtip-default-padding));
  position: relative;
}

.tooltip_wrapper.dark {
  --simtip-text-color: #fff;
  --simtip-background-color: rgb(97 97 97 / 92%);
}

.tooltip_wrapper.light {
  --simtip-text-color: #000;
  --simtip-background-color: rgb(255 255 255 / 92%);
}

.tooltip_wrapper.success {
  --simtip-text-color: #000;
  --simtip-background-color: rgb(144 190 109 / 92%);
}

.tooltip_wrapper.warning {
  --simtip-text-color: #000;
  --simtip-background-color: rgb(249 199 79 / 92%);
}

.tooltip_wrapper.error {
  --simtip-text-color: #fff;
  --simtip-background-color: rgb(249 65 68 / 92%);
}

.tooltip_wrapper.info {
  --simtip-text-color: #fff;
  --simtip-background-color: rgb(39 125 161 / 92%);
}

.tooltip_wrapper.fade {
  -webkit-animation: fade
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.tooltip_wrapper.scale {
  -webkit-animation: scale
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tooltip_wrapper.flip {
  -webkit-animation: flip
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tooltip_wrapper.slide {
  -webkit-animation: slide
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tooltip_wrapper.swing {
  -webkit-animation: swing
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.tooltip_wrapper.bounce {
  -webkit-animation: bounce forwards
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    ease-in-out;
  animation: bounce forwards
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    ease-in-out;
}

.tooltip_wrapper.flicker {
  -webkit-animation: flicker
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    linear both;
  animation: flicker
    var(--simtip-animation-duration, var(--simtip-default-animation-duration))
    linear both;
}

.tooltip_arrow {
  fill: var(--simtip-background-color, var(--simtip-default-background-color));
}

/* Animations */
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(80deg);
    opacity: 0;
    transform: rotateX(80deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateX(80deg);
    opacity: 0;
    transform: rotateX(80deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    opacity: 1;
    transform: rotateX(0);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: left;
  }
  100% {
    -webkit-transform: rotateY(0);
    -webkit-transform-origin: left;
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: left;
  }
  100% {
    -webkit-transform: rotateY(0);
    -webkit-transform-origin: left;
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(0.8);
  }

  50% {
    transform: translateY(-15px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0) scale(0.8);
  }

  50% {
    transform: translateY(-15px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
