/* Custom properties */
:root {
	--tooltip-text-color: #fff;
	--tooltip-background-color: rgb(97 97 97 / 92%);
	--tooltip-distance: 30px;
	--tooltip-arrow-size: 6px;
	--tooltip-padding: 6px;
	--tooltip-animation-duration: 300ms;
	--tooltip-border-radius: 4px;
	--tooltip-font-size: 11px;
}

/* Wrapping */
.tooltip_wrapper {
	position: relative;
	display: inline-block;
}

.tooltip_text {
	position: absolute;
	left: 50%;
	z-index: 1500;
	padding: var(--tooltip-padding);
	color: var(--tooltip-text-color);
	font-size: var(--tooltip-font-size);
	font-family: sans-serif;
	line-height: 1;
	white-space: nowrap;
	background: var(--tooltip-background-color);
	border-radius: var(--tooltip-border-radius);
	transform: translateX(-50%);

	&.arrow {
		&::before {
			position: absolute;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: calc(var(--tooltip-arrow-size) * -1);
			border: solid transparent;
			border-width: var(--tooltip-arrow-size);
			pointer-events: none;
			content: " ";
		}
	}

	&.top {
		top: calc(var(--tooltip-distance) * -1);
		&::before {
			top: 100%;
			border-top-color: var(--tooltip-background-color);
		}
	}

	&.bottom {
		bottom: calc(var(--tooltip-distance) * -1);
		&::before {
			bottom: 100%;
			border-bottom-color: var(--tooltip-background-color);
		}
	}

	&.left {
		top: 50%;
		right: calc(80% + var(--tooltip-distance));
		left: auto;
		transform: translateX(0) translateY(-50%);

		&::before {
			top: 50%;
			right: calc(var(--tooltip-arrow-size) * -2);
			left: auto;
			border-left-color: var(--tooltip-background-color);
			transform: translateX(0) translateY(-50%);
		}
	}

	&.right {
		top: 50%;
		left: calc(80% + var(--tooltip-distance));
		transform: translateX(0) translateY(-50%);

		&::before {
			top: 50%;
			left: calc(var(--tooltip-arrow-size) * -1);
			border-right-color: var(--tooltip-background-color);
			transform: translateX(0) translateY(-50%);
		}
	}

	&.top-right {
		top: calc(var(--tooltip-distance) * -1);
		right: auto;
		left: var(--tooltip-distance);
		transform: translateX(0);

		&::before {
			top: 100%;
			right: auto;
			left: calc(var(--tooltip-arrow-size) * 2);
			border-top-color: var(--tooltip-background-color);
		}
	}

	&.top-left {
		top: calc(var(--tooltip-distance) * -1);
		right: var(--tooltip-distance);
		left: auto;
		transform: translateX(0);

		&::before {
			top: 100%;
			right: calc(var(--tooltip-arrow-size) * 2);
			left: auto;
			border-top-color: var(--tooltip-background-color);
		}
	}

	&.bottom-right {
		bottom: calc(var(--tooltip-distance) * -1);
		right: auto;
		left: var(--tooltip-distance);
		transform: translateX(0);

		&::before {
			bottom: 100%;
			right: auto;
			left: calc(var(--tooltip-arrow-size) * 2);
			border-bottom-color: var(--tooltip-background-color);
		}
	}

	&.bottom-left {
		bottom: calc(var(--tooltip-distance) * -1);
		right: var(--tooltip-distance);
		left: auto;
		transform: translateX(0);

		&::before {
			bottom: 100%;
			right: calc(var(--tooltip-arrow-size) * 2);
			left: auto;
			border-bottom-color: var(--tooltip-background-color);
		}
	}

	&.fade {
		animation: fade forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: fade forwards var(--tooltip-animation-duration) ease-in-out;
	}
	&.scale {
		animation: scale forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: scale forwards var(--tooltip-animation-duration) ease-in-out;
	}
	&.flip {
		animation: flip forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: flip forwards var(--tooltip-animation-duration) ease-in-out;
	}
	&.slide {
		animation: slide forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: slide forwards var(--tooltip-animation-duration) ease-in-out;
	}
	&.slide-flip {
		animation: slide-flip forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: slide-flip forwards var(--tooltip-animation-duration) ease-in-out;
	}
	&.bounce {
		animation: bounce forwards var(--tooltip-animation-duration) ease-in-out;
		-webkit-animation: bounce forwards var(--tooltip-animation-duration) ease-in-out;
	}
}

/* Animations */
@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@-webkit-keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		transform: translateX(-50%) scale(0.8);
	}

	50% {
		transform: translateX(-50%) scale(1.1);
	}

	100% {
		transform: translateX(-50%) scale(1);
	}
}

@-webkit-keyframes scale {
	0% {
		transform: translateX(-50%) scale(0.8);
	}

	50% {
		transform: translateX(-50%) scale(1.1);
	}

	100% {
		transform: translateX(-50%) scale(1);
	}
}

@keyframes flip {
	0% {
		transform: translateX(-50%) rotateX(90deg);
	}

	50% {
		transform: translateX(-50%) rotateX(0deg);
	}

	100% {
		transform: translateX(-50%) rotateX(0deg);
	}
}

@-webkit-keyframes flip {
	0% {
		transform: translateX(-50%) rotateX(90deg);
	}

	50% {
		transform: translateX(-50%) rotateX(0deg);
	}

	100% {
		transform: translateX(-50%) rotateX(0deg);
	}
}

@keyframes slide {
	0% {
		transform: translateX(-100%) scale(0.8);
	}
	50% {
		transform: translateX(-50%) scale(1.1);
	}
	100% {
		transform: translateX(-50%) scale(1);
	}
}

@-webkit-keyframes slide {
	0% {
		transform: translateX(-100%) scale(0.8);
	}
	50% {
		transform: translateX(-50%) scale(1.1);
	}
	100% {
		transform: translateX(-50%) scale(1);
	}
}

@keyframes slide-flip {
	0% {
		transform: translateX(-100%) rotateX(90deg) scale(0.8);
	}

	50% {
		transform: translateX(-50%) rotateX(0deg) scale(1.1);
	}

	100% {
		transform: translateX(-50%) rotateX(0deg) scale(1);
	}
}

@-webkit-keyframes slide-flip {
	0% {
		transform: translateX(-100%) rotateX(90deg) scale(0.8);
	}

	50% {
		transform: translateX(-50%) rotateX(0deg) scale(1.1);
	}

	100% {
		transform: translateX(-50%) rotateX(0deg) scale(1);
	}
}

@keyframes bounce {
	0% {
		transform: translateX(-50%) translateY(0) scale(0.8);
	}

	50% {
		transform: translateX(-50%) translateY(-15px) scale(1.1);
	}

	100% {
		transform: translateX(-50%) translateY(0) scale(1);
	}
}

@-webkit-keyframes bounce {
	0% {
		transform: translateX(-50%) translateY(0) scale(0.8);
	}

	50% {
		transform: translateX(-50%) translateY(-15px) scale(1.1);
	}

	100% {
		transform: translateX(-50%) translateY(0) scale(1);
	}
}
